.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    font-weight: 600;
}

.payment {
    padding-top: 50px;
}

.bill .form-group {
    border: 1px solid #ddd;
    padding: 25px 0px;
}

.container-ticket.text-center {
    width: 50%;
    color: black;
    margin-left: 13px;
}

.container-ticket.text-center:hover {
    color: white;
    background: rgba(249, 175, 0, 0.78);
}

.transfer i.fa.fa-credit-card {
    margin-right: 10px;
}

.payment .bill{
    border: 1px solid hsla(0,0%,43%,0.28);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #8b8b8b;
    padding: 0px;
}

table.table.table-borderless {
    margin: 0px;
}

.text-bill{
    text-align: center;
    font-size: xx-large;
    color: #e74c3c;
    font-weight: 700;
}

